.section1
{
   padding-top: 30px;
   background-color: #a9a9a9;
   width: 90%;
   margin-left: 70px;
   padding-left: 20px;
   padding-right: 5px;
   padding-bottom: 30px;
}
.textarea
{
   padding-top: 5px;
   padding-bottom: 5px;

}
.d1
{
   display: flex;
}