.section1{
    padding: 50px;
    background-color: gray;
}
.d2{
    position: relative;
    left: -50px;
    top: -30px;
}
.section2{
    background-color: gray;
}
.b1{
    position: relative;
    top: 10px;
}
.b2{
    position: relative;
    top: 10px;
    right: 200px;
}
.b3{
    position: relative;
    top: 10px;
    right: 420px;
}
.b4{
    position: relative;
    top: 10px;
    right: 630px;
}